@use "../../assets/styles/_variables" as *;

.filter-item {
  margin: 0.75rem 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &__label {
    color: $color-text;
    font-family: $font-text;
  }

  &__checkbox {
    -webkit-appearance: none;
    transform: scale(1.5);
    padding: 4px;
    margin-left: 0.75rem;
    background-color: $color-card;
    border: 1px solid $color-text;
  }

  &__checkbox:checked {
    background-color: $color-brew;
    color: $color-text;
  }
  
}