@use "../../assets/styles/_variables" as *;

.navbar {
  display: flex;
  flex-direction: column;
  background-color: $color-card;
  width: 100%;
  margin: 0.5rem auto 0.7rem auto;
  padding: 1rem;

  &__heading {
    font-family: $font-header;
    color: $color-text;
    font-size: 1.5em;
  }

  &__text {
    color: $color-text;
    font-style: italic;
    font-size: small;
  }
}

@media only screen and (min-width: 768px) {

  .navbar{
    box-shadow: none;
    padding-top: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0;
    margin-left: 1rem;
    border-radius: 1em;
    width: 255px;
  }
}